<h2 color="primary">CÔNG THỨC MÁU</h2>
<app-cbc [stt]="stt" [dateHos]="dateHos" [date]="dateHos" [table]="'cbc'"></app-cbc>
<h2 color="primary">LABORATORY</h2>
<app-labo [stt]="stt" [dateHos]="dateHos" [date]="dateHos" [table]="'labo'"></app-labo>
<h2 color="primary">MIỄN DỊCH</h2>
<app-immune [stt]="stt" [dateHos]="dateHos" [date]="dateHos" [table]="'immune'"></app-immune>
<h2 color="primary">SIÊU ÂM</h2>
<app-us [stt]="stt" [dateHos]="dateHos" [date]="dateHos" [table]="'us'"></app-us>
<h2 color="primary">X QUANG</h2>
<app-x-ray [stt]="stt" [dateHos]="dateHos" [date]="dateHos" [table]="'xray'"></app-x-ray>
<h2 color="primary">CT-SCAN</h2>
<app-ct [stt]="stt" [dateHos]="dateHos" [date]="dateHos" [table]="'ct'"></app-ct>
<h2 color="primary">PET-CT</h2>
<app-pet-ct [stt]="stt" [dateHos]="dateHos" [date]="dateHos" [table]="'pet_ct'"></app-pet-ct>
<h2 color="primary">GIẢI PHẪU BỆNH</h2>
<app-patho [stt]="stt" [dateHos]="dateHos" [date]="dateHos" [table]="'patho'"></app-patho>
<h2 color="primary">ĐỘT BIẾN GENES</h2>
<app-mutation [stt]="stt" [dateHos]="dateHos" [date]="dateHos" [table]="'mutation'"></app-mutation>
<h2 color="primary">CHẨN ĐOÁN</h2>
<app-diagnosis [stt]="stt" [dateHos]="dateHos" [date]="dateHos" [table]="'diagnosis'"></app-diagnosis>
<h2 color="primary">ĐIỀU TRỊ</h2>
<app-treatment [stt]="stt" [dateHos]="dateHos" [date]="dateHos" [table]="'treatment'"></app-treatment>
<h2 color="primary">THEO DÕI</h2>
<app-followup [stt]="stt" [dateHos]="dateHos" [date]="dateHos" [table]="'followup'"></app-followup>
<h2 color="primary">YÊU CẦU CỦA BỆNH NHÂN</h2>
<app-request [stt]="stt" [dateHos]="dateHos" [date]="dateHos" [table]="'request'"></app-request>

